.wrapText {
  white-space: pre-wrap;
  word-break: break-all;
  font-size: small;
  margin: 0;
  overflow-x: auto;
}

.binaryPayloadMessage {
  color: #9ca3af;
  font-style: italic;
  padding: 0.5rem;
  font-size: small;
}

.payloadContainer {
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

.jsonViewContainer {
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}