.panelRoot {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.panelHeader {

}
.panelOuterContent {
  flex: 1 1 0;
  min-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.panelInnerContent {
  flex: 1 1 0;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}