.messageListToolbar {
  background-color: var(--surface-ground);
}

.messageListTable {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messageListTable :global(.p-datatable-wrapper) {
  flex: 1;
}

.selectedRow {
  background-color: var(--primary-color) !important;
  color: var(--primary-color-text) !important;
}

.selectedRow:hover {
  background-color: var(--primary-color) !important;
  opacity: 0.9;
}