.panelRoot {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.panelHeader {
  display: flex;
  flex-direction: column;
}
.headerPrefix {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.75rem 1rem 0.5rem 1rem;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.panelOuterContent {
  flex-grow: 1;
  overflow-y: hidden;
}
.panelInnerContent {
  height: 100%;
  overflow-y: auto;
  padding: 0;
}